replicaCount: 2
deployment:
  name: akv-secretreader
image:
  repository: cvugrinec/akv-secretreader
  tag: 4
  pullSecret: regsecret
  pullPolicy: Always
service:
  name: akv-secret-service
  type: ClusterIP
  externalPort: 5000
  internalPort: 5000
environment:
  MSID: /subscriptions/[YOUR SUBID]/resourcegroups/[RESOURCEGROUP_NAME]/providers/Microsoft.ManagedIdentity/userAssignedIdentities/[MANAGEDID]
  KEY_VAULT_NAME: [NAME OF YOUR KEYVAULT]
  PODID: [NAME OF YOUR MANAGEDID]
resources: {}
